<h3>Home</h3>
<% @questions.each do |question| %>
  <p>
	Question: <%= question.name %>
	<br>
	 <%= form_for question, url: questions_answer_path do |f| %>
		<input name="answer">
		<%= f.submit "OK" %>
	 <% end %>
	
  </p>
<% end %>