<h3>Home</h3>
<%= form_tag questions_answer_path %>
<% @questions.each do |question| %>
  <p>
	Question: <%= link_to_if current_user.try(:admin), question.name, question %>
	<br>
	<input name="answers[<%= question.id %>]">
  </p>
<% end %>
<%= submit_tag "OK" %>
</form>